html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../font/Montserrat-Regular.woff2") format("woff2"),
    url("../font/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../font/Montserrat-Medium.woff2") format("woff2"),
    url("../font/Montserrat-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../font/Montserrat-SemiBold.woff2") format("woff2"),
    url("../font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../font/Montserrat-Bold.woff2") format("woff2"),
    url("../font/Montserrat-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../font/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../font/Inter-Regular.woff2") format("woff2"),
    url("../font/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../font/Muller-Regular.woff2") format("woff2"),
    url("../font/Muller-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* GLOBAL */
.list-reset {
  list-style: none;
}

.btn-reset {
  padding: 19px 38px;
  background-color: transparent;
  border: none;
  border-radius: 16px;
}

.btn-contrast {
  color: white;
  background-color: #ff9900;
}

.flex {
  display: flex;
}

.container {
  width: 1770px;
  padding: 0 75px;
  margin: 0 auto;
}

.section-offset {
  margin-bottom: 100px;
}

/* HEADER */
.header {
  margin-bottom: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header-container {
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  align-items: center;
  justify-content: space-between;
}

.header-list {
  align-items: center;
  margin-right: 260px;
}

.header-list-item:not(:last-child) {
  margin-right: 85px;
}

.header-list-link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

/* HERO */
.hero {
  margin-bottom: 50px;
}

.hero-wrapper {
  background-image: url("../img/hero/hero-bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.hero-content {
  padding: 100px 80px;
  max-width: 837px;
  color: white;
}

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
}

.hero-descr {
  margin: 0;
  margin-bottom: 90px;
}

.hero-btn {
  padding: 25px 39px;
}

/* ABOUT */
.about-title {
  margin: 0;
  margin-bottom: 20px;
}

.about-descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
}

.about-wrapper {
  width: 100%;
}

.about-left {
  margin-right: 32px;
}

.about-left-content {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-article {
  padding: 65px 118px;
  border: 1px solid black;
  border-radius: 32px;
}

.about-article:not(:last-child) {
  margin-bottom: 32px;
}

/* OUR WORK */
.our-work-title {
  margin: 0;
  margin-bottom: 50px;
}

.our-work-list {
  align-items: center;
  margin-bottom: 45px;
}

.our-work-item:not(:last-child) {
  margin-right: 85px;
}

.our-work-wrapper {
  align-items: center;
}

.our-work-left,
.our-work-slide {
  width: 50%;
}

.our-work-card-title {
  margin: 0;
  margin-bottom: 8px;
}

.our-work-descr {
  margin: 0;
  margin-bottom: 18px;
  max-width: 758px;
}

.our-work-btn-main {
  margin-right: 32px;
}

.our-work-btn-secondary {
  border: 1px solid black;
}

/* FAQ */
.faq-title {
  margin-bottom: 32px;
}

.faq-btn {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
}

.faq-btn:not(:last-child) {
  margin-bottom: -1px;
}
