html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../font/Montserrat-Regular.woff2") format("woff2"),
    url("../font/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../font/Montserrat-Medium.woff2") format("woff2"),
    url("../font/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../font/Montserrat-SemiBold.woff2") format("woff2"),
    url("../font/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../font/Montserrat-Bold.woff2") format("woff2"),
    url("../font/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../font/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../font/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../font/Inter-Regular.woff2") format("woff2"),
    url("../font/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../font/Muller-Regular.woff2") format("woff2"),
    url("../font/Muller-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: outline-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

img {
  max-width: 100%;
}

/* GLOBAL */
.list-reset {
  list-style: none;
}

.btn {
  cursor: pointer;
  outline: none;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn-reset {
  padding: 19px 38px;
  background-color: transparent;
  border: none;
  border-radius: 16px;
}

.btn-contrast {
  color: white;
  background-color: #ff9900;
  font-weight: 600;
}

.btn-contrast:focus-visible {
  background-color: #ffb84d;
}

.btn-contrast:hover {
  background-color: #ffb84d;
}

.btn-contrast:active {
  background-color: #e1670e;
}

.flex {
  display: flex;
}

.container {
  width: 1770px;
  padding: 0 75px;
  margin: 0 auto;
}

.section-title {
  color: #000;
  font-size: 48px;
  font-weight: 400;
}

.section-offset {
  margin-bottom: 100px;
}

/* HEADER */
.header {
  margin-bottom: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

.header__logo:focus-visible {
  outline-color: #ff9900;
}

.header__menu {
  align-items: center;
  justify-content: space-between;
}

.header__nav .nav__list {
  align-items: center;
  margin-right: 260px;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 85px;
}

.header__nav .nav__item:last-child {
  margin-right: 260px;
}

.header__nav .nav__link {
  position: relative;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.header__nav .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ff9900;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__nav .nav__link:focus-visible {
  outline-color: #ff9900;
}

.header__nav .nav__link:hover::after {
  opacity: 1;
}

.header__nav .nav__link:active {
  color: #e1670e;
}

.header__nav .nav__link:active::after {
  background-color: #e1670e;
}

.search__btn {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: outline-color 0.3s ease-in-out;
}

.search__icon rect {
  fill: black;
  transition: fill 0.3s ease-in-out;
}

.search__icon path {
  fill: none;
  stroke: black;
  transition: stroke 0.3s ease-in-out;
}

.search__btn:focus-visible {
  outline-color: #ff9900;
}

.search__btn:hover .search__icon path {
  stroke: #ff9900;
}

.search__btn:hover .search__icon rect {
  fill: #ff9900;
}

.search__btn:active .search__icon path {
  stroke: #ff9900;
}

.search__btn:active .search__icon rect {
  fill: #ff9900;
}

/* HERO */
.hero {
  margin-bottom: 50px;
}

.hero__wrapper {
  background-image: url("../img/hero/hero-bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.hero__content {
  padding: 100px 80px;
  max-width: 837px;
  color: white;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  font-size: 24px;
}

.hero__btn {
  padding: 25px 39px;
  font-size: 23px;
}

/* ABOUT */
.about__title {
  margin: 0;
  margin-bottom: 20px;
}

.about__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.about__wrapper {
  width: 100%;
}

.about__left,
.about__right {
  width: 870px;
}

.about__left {
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 32px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/about/about-bg.jpg");
  border-radius: 32px;
}

.about__left-content {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.about__btn {
  padding: 19px 38px;
  background: transparent;
  color: white;
  border: 3px solid #ff9900;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
}

.about__btn:focus-visible {
  background-color: #ff9900;
}

.about__btn:hover {
  background-color: #ff9900;
}

.about__btn:active {
  background-color: #e1670e;
  border-color: #e1670e;
}

.about__article {
  align-items: center;
  padding: 65px 120px 65px 60px;
  border: 1px solid black;
  border-radius: 32px;
}

.about__article:not(:last-child) {
  margin-bottom: 32px;
}

.about__article svg {
  margin-right: 50px;
  min-width: 190px;
}

.about__card-wrapper {
  max-width: 452px;
}

.about__card-title {
  margin-bottom: 8px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.about__card-text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* OUR WORK */
.our-work__title {
  margin: 0;
  margin-bottom: 50px;
}

.our-work__list {
  align-items: center;
  margin-bottom: 45px;
}

.our-work__item:not(:last-child) {
  margin-right: 85px;
  font-size: 18px;
  font-weight: 400;
}

.our-work__list-btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: 3px;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out;
}

.our-work__list-btn--active {
  color: #e1670e;
}

.our-work__list-btn:focus-visible {
  outline-color: #ff9900;
}

.our-work__list-btn:hover {
  color: #ff9900;
}

.our-work__list-btn:active {
  color: #e1670e;
}

.our-work__wrapper {
  align-items: center;
}

.our-work__left,
.our-work__slide {
  width: 50%;
}

.our-work__card-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
}

.our-work__descr {
  margin: 0;
  margin-bottom: 18px;
  max-width: 758px;
  font-size: 16px;
  line-height: 32px;
}

.our-work__btn-main {
  margin-right: 32px;
}

.our-work__btn-secondary {
  border: 1px solid black;
}

.our-work__btn-secondary:focus-visible {
  color: white;
  border-color: #666;
  background-color: #666;
}

.our-work__btn-secondary:hover {
  color: white;
  border-color: #666;
  background-color: #666;
}

.our-work__btn-secondary:active {
  color: white;
  border-color: black;
  background-color: black;
}

/* FAQ */
.faq__title {
  margin-bottom: 32px;
}

.faq__btn {
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-radius: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.faq__btn:not(:last-child) {
  margin-bottom: -1px;
}

.faq__btn svg {
  transition: transform 0.3s ease-in-out;
}

.faq__btn ellipse {
  fill: #cacaca;
  transition: fill 0.3s ease-in-out;
}

.faq__btn path {
  fill: black;
  transition: fill 0.3s ease-in-out;
}

.faq__btn:focus-visible {
  color: #ff9900;
  border-color: #ff9900;
}

.faq__btn:focus-visible ellipse {
  fill: #ff9900;
}

.faq__btn:focus-visible path {
  fill: white;
}

.faq__btn:hover {
  color: #ff9900;
  border-color: #ff9900;
}

.faq__btn:hover ellipse {
  fill: #ff9900;
}

.faq__btn:hover path {
  fill: white;
}

.faq__btn:active {
  color: black;
  border-color: #cacaca;
}

.faq__btn:active svg {
  transform: rotate(45deg);
}

.faq__btn:active ellipse {
  fill: #cacaca;
}

.faq__btn:active path {
  fill: black;
}

/* FOOTER */
.footer {
  color: #cacaca;
  background-color: black;
}

.footer__container {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__left {
  min-width: 252px;
  min-height: 494px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo:focus-visible {
  outline-color: #ff9900;
}

.footer__nav .nav__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__nav {
  margin-bottom: 82px;
}

.footer__nav .nav__link:focus-visible {
  outline-color: #ff9900;
}

.footer__nav .nav__link:hover {
  color: #ff9900;
}

.footer__nav .nav__link:active {
  color: #E1670E;
}

.social__link {
  display: block;
  width: 60px;
  height: 60px;
}

.social__link:not(:last-child) {
  margin-right: 25px;
}

.social__link  svg {
  fill: #666;
  transition: fill .3s ease-in-out;
}

.social__link:focus-visible {
  outline-color: #ff9900;
}

.social__link:hover svg {
  fill: #ff9900;
}

.social__link:active svg {
  color: #E1670E;
}

.footer__center {
  min-width: 570px;
}

.footer__title {
  color: #cacaca;
  margin-bottom: 25px;
}

.form {
  flex-direction: column;
}

.form__input {
  padding: 14px 24px;
  color: #cacaca;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  background-color: #414141;
  border: none;
  outline: none;
  border-radius: 16px;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.form__input::placeholder {
  color: #CACACA;
  transition: color .3s easeinout;
}

.form__input:focus-visible {
  background-color: #666666;
}

.form__input:hover {
  background-color: #666666;
}

.form__input:active {
  background-color: #666666;
}

.form__input:active::placeholder {
  color: white;
}

.form input {
  margin-bottom: 25px;
}

.form textarea {
  margin-bottom: 32px;
  min-height: 150px;
}

.submit-wrapper {
  align-items: center;
}

.form__btn {
  margin-right: 22px;
}

/* .submit-wrapper input {
  margin: 0;
  margin-right: 4px;
} */

.submit-checkbox {
  appearance: none;
}

.submit-text {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
}

.submit-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
}

.submit-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: none;
  background-image: url("../img/footer/Check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.submit-checkbox:checked + .submit-text::after {
  opacity: 1;
}

.footer__right {
  max-width: 363px;
  color: #cacaca;
  line-height: 32px;
}
